html, body  {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: auto;
}
body {
	font-family: monospace;
	text-align: center;
	background-color: white;
	background: linear-gradient(to bottom, #66a0ff 0%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-sizing: border-box;
	padding: 2em;
}

.logo {
	pointer-events: none;
	min-height: em;
	max-height: 30vh;
	max-width: 100%;
	margin-top: 2em;
}

h1 {
	font-weight: normal;
}

.block {
	padding: 1em;
	font-size: 1.52em;
}

.tab {
	display: none;
}

.tab.current {
	display: block;
}

nav > div {
	cursor: pointer;
	font-family: monospace;
}

nav div span {
	margin-left: 0.6em;
	line-height: 1.5em;
    vertical-align: text-bottom;
    display: inline-block;
}

nav .left { float: left; }
nav .right { float: right; }